<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intergalactic cats take over the world</title>
</head>
<body data-bs-theme="dark">
    <footer id="links">
        <div class="container d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"><p>© 2025 Company, Inc. All
            rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/bigbluewhale0/" aria-label="Instagram">
                    <img src="static/instagram.svg" alt="Bootstrap" width="30" height="24">
                </a></li>
            </ul>
        </div>
    </footer>
</body>
</html>