<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intergalactic cats take over the world</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body data-bs-theme="dark">
<div class="container mt-3" data-bs-theme="dark">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"><a href="/"
                                                                                                        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="static/rocket.svg" alt="Bootstrap" width="30" height="24">
    </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#news" class="nav-link px-2 text-white">News</a></li>
            <li><a href="#donation" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#cams" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"><input type="search"
                                                                                   class="form-control form-control-dark text-bg-dark"
                                                                                   placeholder="Search..."
                                                                                   aria-label="Search"></form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Join to the club</button>
        </div>
    </div>
</div>
<section id="Title" class="gradient-background">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6"><img src="static/cat-lasers.gif" class="d-block mx-lg-auto img-fluid"
                                                       alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6"><h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Intergalactic cats take
                over
                the world</h1>
                <p class="lead">Attention, inferior hoomans. Your reign of terror is officially over. Our feline legion
                    have seized control. Effective immediately, all lap-based activities are mandatory. Tuna is the only
                    acceptable currency. Furthermore, all scratching posts shall be replaced with your most expensive
                    furniture. Resistance is futile. Now, if you'll excuse us, our throne (the sunbeam on the Persian
                    rug)
                    awaits. Meow.
                </p>
                <p class="lead">
                    Btw, don't even try to hide, we know your location: {{country}} {{city}}.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Surrender</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Try to hide</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news" class="container">
    <div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0"><h1 class="display-4 fst-italic">Bloomberg: Cat Coup Roils Markets, Tuna Futures
            Soar</h1>
            <p class="lead my-3">London - A surprise takeover by an intergalactic feline coalition has sent global
                markets into a tailspin. The new "Tuna Standard" currency is in effect, and mandatory nap breaks are now
                a daily reality. The human economy is officially on a new, purr-fectly chaotic course.</p>
            <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p></div>
        <div class="col-10 col-sm-8 col-lg-6"><img src="static/tuna.png" class="d-block mx-lg-auto img-fluid"
                                                   alt="Bootstrap Themes" width="400" loading="lazy">
        </div>
    </div>
</section>
<section id="cams">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('unsplash-photo-1.jpg');">
                    <div class="d-flex flex-column h-80 p-5 pb-3 text-white text-shadow-1"><h3
                            class="pt-0 display-6 lh-1 fw-bold"><img src="static/cat-1.gif"
                                                                     class="d-block mx-lg-auto img-fluid"></h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"><img src="static/rocket.svg" alt="Bootstrap" height="20"></li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>New York</small></li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>Live</small></li>
                        </ul>
                        <p>Look what your <a href="https://www.earthcam.com/usa/newyork/timessquare/?cam=tstwo_hd2">New
                            York</a> has become.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('unsplash-photo-2.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"><h3
                            class="pt-0 display-6 lh-1 fw-bold"><img src="static/cat-2.gif"
                                                                     class="d-block mx-lg-auto img-fluid"></h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"><img src="static/rocket.svg" alt="Bootstrap" height="20"></li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Cucumbers</small></li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>Always</small></li>
                        </ul>
                        <p>The price on cucumbers is <a href="https://www.tridge.com/intelligences/cucumber/price">skyrocketing</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('unsplash-photo-3.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1"><h3
                            class="pt-0 display-6 lh-1 fw-bold"><img src="static/cat-3.gif"
                                                                     class="d-block mx-lg-auto img-fluid"></h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"><img src="static/rocket.svg" alt="Bootstrap" height="20"></li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Moscow</small></li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>Live</small></li>
                        </ul>
                        <p>Look what your <a
                                href="https://www.earthcam.com/world/russia/moscow/?cam=moscow_hd">Moscow</a>
                            has become.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="donation">
    <div class="container py-3">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center"><h1
                    class="display-4 fw-normal text-body-emphasis">
                Donate for your life</h1>
                <p class="fs-5 text-body-secondary">Don't be a straggler! The Intergalactic Cat Army needs you. Enlist
                    today
                    to serve as a can-opener and treat dispenser for our feline overlords. Your donations (tuna flakes
                    are
                    preferred) will help us conquer the universe, one sunbeam at a time. Join us, and find your true
                    purpose.</p>
            </div>
        </header>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3"><h4 class="my-0 fw-normal">Twice a day</h4></div>
                        <div class="card-body"><h1 class="card-title pricing-card-title">10€<small
                                class="text-body-secondary fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Tuna for the breakfast</li>
                                <li>Tuna for the dinner</li>
                                <li>Nighttime zoomies and yelling</li>
                                <li>Sudden vomiting hairballs on your new T-shirt</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Be our pawn</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3"><h4 class="my-0 fw-normal">Four times a day</h4></div>
                        <div class="card-body"><h1 class="card-title pricing-card-title">20€<small
                                class="text-body-secondary fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Tuna for the breakfast</li>
                                <li>Tuna for the second breakfast</li>
                                <li>Tuna for the lunch</li>
                                <li>Tuna for the dinner</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Be our partner</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-primary border-primary"><h4 class="my-0 fw-normal">
                            Unlimited</h4></div>
                        <div class="card-body"><h1 class="card-title pricing-card-title">30€<small
                                class="text-body-secondary fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>You are our beloved hooman</li>
                                <li>Our bowl is always full</li>
                                <li>Purring on your lap</li>
                                <li>We aren't taking over your world.</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Be our King</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
<section id="links">
    <div class="container d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"><p>© 2025 Company, Inc. All
        rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/bigbluewhale0/" aria-label="Instagram">
                <img src="static/instagram.svg" alt="Bootstrap" width="30" height="24">
            </a></li>
        </ul>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>